@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #eafaf0; /* Light green background for the whole page */
    margin: 0;
    padding: 0;
  }
  